<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzboiler.module.base.mapper.PermissionMapper">
    <select id="getPermissionsByRoleId" resultType="com.hzboiler.module.base.model.Permission">
        SELECT *  FROM `permission`
        LEFT JOIN `role_permission` ON `permission`.`id` = `role_permission`.`perm_id`
        WHERE `role_permission`.`role_id` = #{roleId}
    </select>
</mapper>