<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzboiler.erp.module.base.mapper.UserRoleMapper">
    <select id="getRoleIdsByUserIds" resultType="Long">
        SELECT role_id  FROM `user_role`
        WHERE user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")" nullable="false">
            #{userId}
        </foreach>
    </select>

    <select id="getUserIdsByRoleIds" resultType="Long">
        SELECT user_id  FROM `user_role`
        WHERE role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")" nullable="false">
            #{roleId}
        </foreach>
    </select>

    <insert id="addUserRoles">
        INSERT INTO `user_role`
        (user_id, role_id)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>

    <delete id="removeUserRoles">
        DELETE FROM `user_role`
        WHERE
        user_id = #{userId}
        AND
        role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")" nullable="false">
            #{roleId}
        </foreach>
    </delete>

    <delete id="removeUserRolesAll">
        DELETE FROM `user_role`
        WHERE user_id = #{userId}
    </delete>
</mapper>